@media screen and (max-width: 576px) {
    /*! header section */
    nav,
    #popular-tour
    {
        padding: 20px;
    }
    .nav-item{
        display: none;
    }
    .logo{
        width: 90%;
    }
    .logo h3, .excursions{
        font-size: 18px;
    }
    .hamburger{
        display: block;
        font-size: 25px;
    }
    /*! banner section */
    #banner{
        padding: 10px;
        margin: 20px;
    }
    #banner .banner-content .banner-heading {
        font-size: 24px;
        margin-bottom: 10px;
    }
    #banner .banner-content .banner-details {
        width: 90%;
        font-size: 14px;
    }
    .banner-content .banner-inputs,
    .popular-tour-wrapper
    {
        flex-direction: column;
        gap: 16px;
    }
    .banner-content .banner-inputs .searches {
        width: 100%;
    }
    .banner-content .banner-inputs .searches:last-child {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    /*! popular-tour section */
    #popular-tour{
        padding: 20px;
    }
    #popular-tour .popular-tour-wrapper .popular-tour-details {
        width: 90%;
    }
}