/* shared styles start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.section-heading{
    font-size: 40px;
    font-weight: 800;
}
.section-details{
    line-height: 24px;
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 0;
}
.btn-primary{
    padding: 14px 35px;
    background-color: #FF5400;
    color: white;
    font-size: 20px;
    border: 1px solid #FF5400;
    border-radius: 8px;
    transition: all linear 0.3s;
}
.btn-primary:hover{
    background: transparent;
    color: black;
    border: 1px solid #FF5400;
}
.country-name{
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 28px;
}
/* shared styles end */

/* nav styles start */
nav{
    padding: 50px 0;
}
.nav-wrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo h3{
    font-size: 28px;
    font-weight: 800;
}
.logo .excursions{
    color: #FF5400;
}
.nav-item{
    width: 50%;
}
.nav-item ul{
    display: flex;
    justify-content: flex-end;
}
.nav-item ul li{
    list-style: none;
}
.nav-item ul li a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 600;
    margin-left: 44px;
    transition: all linear 0.2s;
}
.nav-item ul li:first-child a{
    margin-left: 0;
}
.nav-item ul li a:hover{
    color: #FF5400;
    font-weight: 700;
}
.hamburger{
    display: none;
}
/* nav styles end */

/* banner styles start */
#banner{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/banner.png");
    padding: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* #banner .banner-content{
    width: 90%;
    margin: 0 auto;
} */
#banner .banner-content .banner-heading{
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.banner-details{
    color: white;
    line-height: 26px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.banner-content .banner-inputs{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    margin-top: 56px;
    cursor: pointer;
}
.banner-content .banner-inputs p, i{
    color: rgba(19, 19, 24, 0.5);
}
.banner-content .banner-inputs .searches{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: white;
    width: 174px;
    height: 50px;
    padding: 0 10px ;
}
.banner-content .banner-inputs .searches:last-child{
    background-color: #FF5400;
}
.banner-content .banner-inputs .searches:last-child p{
    color: white;}
.banner-content .banner-inputs .searches:last-child i{
    color: white;}
/* banner styles end */

/* popular-tour styles start */
#popular-tour{
    padding: 100px 0;
}
#popular-tour .popular-tour-wrapper{
    display: flex;
    justify-content: space-between;
}
#popular-tour .popular-tour-wrapper .popular-tour-details{
    width: 50%;
}
/* popular-tour styles end */

/* destination styles start */
#destination{
    padding-bottom: 100px;
}
#destination .destination-heading, .destination-details{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-bottom: 40px;
}
#destination .img-wrapper{
    display: flex;
    justify-content: space-between;
}
#destination .maldives {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/maldives.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px;
    border-radius: 16px;
    width: 49%;
}
#destination .indonesia {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/indonesia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px;
    border-radius: 16px;
    width: 49%;
}
#destination .srilanka {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/srilanka.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px;
    border-radius: 16px;
    width: 29%;
}
#destination .north-america {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/north-america.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px;
    border-radius: 16px;
    width: 42%;
}
#destination .kashmir {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/kashmir.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px 81px;
    border-radius: 16px;
    width: 24%;
}
#destination .bangladesh {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/bangladesh.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px 81px;
    border-radius: 16px;
    width: 39%;
}
#destination .bandarban {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/bandarban.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px 81px;
    border-radius: 16px;
    width: 59%;
}
.gap{
    margin-top: 2%;
}
/* destination styles end */

/* choose styles start */
#choose{
    margin-bottom: 100px;
}
#choose .choose-heading, .choose-details{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-bottom: 40px;
}
.choose-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.hotel{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.map{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}
.price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.map h4{
 color: #131318;
 font-size: 24px;
 font-weight: 800;
 margin-top: 32px;
 margin-bottom: 18px;
}
.hotel h4{
 color: #131318;
 font-size: 24px;
 font-weight: 800;
 margin-top: 32px;
 margin-bottom: 18px;
}
.price h4{
 color: #131318;
 font-size: 24px;
 font-weight: 800;
 margin-top: 32px;
 margin-bottom: 18px;
}
.map p{
    color: #5A5A5D;
    line-height: 26px;
}
.hotel p{
    color: #5A5A5D;
    line-height: 26px;
}
.price p{
    color: #5A5A5D;
    line-height: 26px;
}
/* choose styles end */

/* perfect section styles start */
/* #perfect-place{

} */
.perfect-place-wrapper{
    display: flex;
}
.perfect-place-wrapper ul li{
    margin-bottom: 20px;
}
/* perfect section styles end */

/* newsletter section styles start */
#newsletter{
    padding: 100px 0;
}
.newsletter-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.news-section{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 40%;
}
.newsletter-title{
    font-size: 24px;
    font-weight: 800;
}
.newsletter-description{
    line-height: 26px;
    margin: 20px 0;
    color: #5A5A5D;
}
.newsletter-wrapper input{
    color: rgba(19, 19, 24, 0.30);
    margin: 12px 0;
    width: 100%;
    padding: 16px 0 16px 16px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
.subscribe{
    width: 100%;
    text-align: center;
    font-weight: 800;
}

.save{
    padding: 35px 0;
    background: #FF5400;
    border-radius: 16px;
    transform: rotate(-19.628deg);
    width: 324px;
    position: absolute;
    bottom: 50px;
    right: 10px;
}
.save p{
    font-size: 24px;
    color: white;
    text-align: center;
}
.save h3{
    font-size: 32px;
    font-weight: 800;
    color: white;
    text-align: center;
}
/* newsletter section styles end */

/* footer part start */
footer{
    padding: 110px 0;
    background: rgba(19, 19, 24, 0.05);
}

.footer-logo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.footer-logo h3{
    font-size: 32px;
    font-weight: 800;
}
.footer-logo .footer-excursions{
    color: #FF5400;
}
.footer-details{
    width: 670px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.footer-social-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.footer-social-links i{
    color: rgba(19, 19, 24, 1);
}
.footer-content hr{
    width: 880px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.1);
}
.copyright{
    color: #131318;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}
/* footer part end */

/* Extra section start */
#discount{
    background: url("../images/world-map.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
}
.discount-wrapper{
    display: flex;
    align-items: center;
}
.btn-register{
    padding: 14px 35px;
    color: black;
    font-size: 20px;
    background: transparent;
    border: 1px solid #FF5400;
    border-radius: 8px;
    transition: all linear 0.3s;
}
.btn-register:hover{
    background-color: #FF5400;
    color: white;
    border: 1px solid #FF5400;
}
.register-buttons{
    gap: 50px;
    display: flex;
    justify-content: center;
}
/* Extra section end */